nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 45px;
  background-color: #101010;
  padding: 5px 10px;
  box-sizing: border-box;
  z-index: 9001; }
  nav .logo {
    color: #F0F0F0;
    font-family: TeX, serif;
    font-size: 30px;
    padding: 1px 0 4px 0; }
  nav .logout {
    position: absolute;
    right: 50px;
    top: 4px;
    text-align: center; }
    nav .logout span {
      background: url("appbar.door.leave.png") no-repeat scroll center top / contain transparent;
      content: "";
      padding: 6px 0px 26px 48px; }
  nav .settings {
    position: absolute;
    right: 7px;
    top: 4px;
    text-align: center; }
    nav .settings span {
      background: url("appbar.settings.png") no-repeat scroll center top / contain transparent;
      content: "";
      padding: 6px 0px 26px 48px; }
